<ngx-spinner defer
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
>
<div class="Loader"></div>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<span class="accountTemplate">
    <span class="switcherSpan">
        <button (click)="changeTemplate('accountTemplate')" class="switcher accountInformationBtn block">
            Аккаунт
        </button>
        <button (click)="changeTemplate('publicationsTemplate')" class="switcher accountPublicationsBtn block">
            Проекты
        </button>
    </span>
    <div class="template">
        <ng-container *ngTemplateOutlet="currentSwitcherTemplate"></ng-container>
    </div>
    <span class="handleAccountBtnsSpan">
        <button class="handleAccountBtn block" (click)="exitFromAccount()">Выйти</button>
        <button class="handleAccountBtn block" (click)="deleteAccount()">Удалить</button>
    </span>
</span>
<ng-template #accountTemplate>
    <span class="accountCardTemplate slideAppearAnimation mainTemplate block">
        <h2 class="accountInformationTitle">Мои данные</h2>
        <ng-container *ngTemplateOutlet="currentInformationTemplate"></ng-container>
    </span>
</ng-template>
<ng-template #publicationsTemplate>
    <span class="publicationTemplate slideAppearAnimation mainTemplate block">
        <h2 class="accountInformationTitle">Мои проекты</h2>
        <span *ngIf="userInformation$|async as userInformation" class="accountPublications">
            <a [href]="'/create/'+userInformation.publications[indexPublication].idPublication" class="accountPublication"
                *ngFor="let publication of userInformation.publications; let indexPublication = index">
                <h2 class="userPublicationTitle">{{indexPublication + 1}}. {{publication.namePublication}}</h2>
                <img loading="lazy" src="/assets/images/editIcon.svg" alt="" class="functionalIcon">
            </a>
        </span>
    </span>
</ng-template>
<ng-template #baseInformationTemplate>
    <span *ngIf="userInformation$|async as userInformation" class="informationTemplate">
        <span class="accountData">
            <div class="propertyBlock">
                <h2 class="informationTitle">Nickname:</h2>
                <h3 class="informationArea">{{userInformation.nickname}}</h3>
            </div>
            <div class="propertyBlock">
                <h2 class="informationTitle">Email:</h2>
                <h3 class="informationArea">{{userInformation.email}}</h3>
            </div>
            <div *ngIf="userInformation.password" class="propertyBlock">
                <h2 class="informationTitle">Password:</h2>
                <h3 class="informationArea">{{userInformation.password}}</h3>
            </div>
        </span>
        <img loading="lazy" src="/assets/images/editIcon.svg" (click)="changeTemplate('changeInformation')" alt=""
            class="functionalIcon">
    </span>
</ng-template>

<ng-template #changeAccountInformation>
    <form *ngIf="userInformation$|async as userInformation" [formGroup]="changeInformationForm" class="informationTemplate">
        <span class="accountData">
            <div class="propertyBlock">
                <label for="nicknameInput" class="informationTitle">Nickname:</label>
                <input [(ngModel)]="userInformation.nickname" id="nicknameInput" formControlName="nickname" placeholder="nickname"
                    class="accountPasswordInput Input">
            </div>
            <div *ngIf="userInformation.password" class="propertyBlock">
                <label for="passwordInput" class="informationTitle">Password:</label>
                <input minlength="8" [(ngModel)]="userInformation.password" id="passwordInput" formControlName="password" placeholder="password"
                    class="accountPasswordInput Input">
            </div>
        </span>
        <span class="functionalsBtns">
            <img loading="lazy" src="/assets/images/acceptIcon.webp" alt="" (click)="confirmChanges()" class="functionalIcon"
                type="submit">
            <img loading="lazy" src="/assets/images/cancelIcon.svg" alt="" class="functionalIcon" (click)="acceptInformation()">
        </span>
    </form>
</ng-template>