@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,93.3,1000,511;1,6..12,93.3,1000,511&display=swap');
$cardShadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
$fontFamily:Nunito Sans;
body {
  margin: 0;
  overflow-x: hidden;
}

// *{
//   outline:green 3px solid
// } 
//test-borders