<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
>
<div class="Loader"></div>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="createModule">
    <span class="createCard">
        <input maxlength="20" (input)="input($event)"  formControlName="title" type="text" placeholder="Заголовок"
            class="titleInput input" />
        <span class="decorations">
            <span class="cardDescriptionSpan">
                <textarea  formControlName="description" maxlength="50" placeholder="Описание статьи"
                    class="descriptionInput input" type="text"></textarea>
                <textarea  formControlName="subDescription" maxlength="30" placeholder="Дополнение"
                    class="subDescriptionInput input" type="text"></textarea>
            </span>
            <span class="chooseImgSpan">
                <input (change)="onPreviewFileSelect($event)" type="file"
                    class="imageAddInput" accept=".webp,.jpeg,.jpg">
                <img loading="lazy" class="chooseImageIcon" src="/assets/images/addIcon.svg" alt="choose image" />
                <img loading="lazy" src='' class="choosedImg" />
            </span>
        </span>
    </span>
    <span  class="namesModule">
        <button type="submit" [disabled]="!createForm.valid" class="submitBtn chooseElements">{{typePublicationEdit}}</button>
        <span class="nameAddSpan">
            <div *ngFor="let page of createForm.value.nameAddModulesArray;let indexOfElementInList=index" (input)="inputsChangeForAddModule($event.target!)" class="nameAddModule">
                <input [value]="page.namePage" type="text" maxlength="10" class="inputName chooseElements"
                    [placeholder]="'Название №'+(indexOfElementInList+1)">
                <span (click)="openEditorWithContent($event.target!)" [attr.data-idInputs]="indexOfElementInList"
                    class="chooseFunctions chooseElements">
                    <h2 style="pointer-events:none" class="chooseDescription">Основной текст</h2>
                    <img loading="lazy" style="pointer-events:none" class="addIcon" src="/assets/images/addIcon.svg" alt=":3">
                </span>
            </div>
        </span>
    </span>
    <div *ngIf="this.idPublication!=='new'" (click)="deletePublication()" class="deletePublicationBtn chooseElements">
        <img loading="lazy" src="/assets/images/deleteIcon.svg" alt="123" class="deletePublicationIcon">
    </div>
</form>
<span class="editorContainer disabled">
    <div class="functionalsEditorsBtns">
        <img loading="lazy" src="/assets/images/acceptIcon.webp" alt="accept" (click)="acceptUserPublication()" class="editorIcon">
        <img loading="lazy" src="/assets/images/cancelIcon.svg" alt="close" (click)="closeEditorPagePublication()"
            class="editorIcon">
    </div>
    <editor async defer #tinyEditor [apiKey]="editorApiKey" [init]="editorInitObject"/>
</span>