@import '../../../styles.scss';

* {
    font-family: Rubik Mono One;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px
}

.popularCard {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: $cardShadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: center;
    margin-top: 5%;
    height: 25%;
}

.decorations {
    display: flex;
    justify-content: center;
    height: 75%;
}

.cardDescriptionSpan {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-left: 30px;
}

.cardDescription {}

.cardsubDescription {
    color: gray;
}

.image {
    max-height: 100%;
    max-width: 50%;
    align-self: flex-end;
}

.finder {
    padding: 10px;
    width: calc(50vw - 20px);
    height: calc(6vh - 20px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    box-shadow: $cardShadow;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
    align-items: center;
}

.inputFinder {
    border: none;
    background: none;
    outline: none;
    height: 100%;
    width: 60%;
}

.iconFinder {
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
@media (max-width:1024px) {
    .popularCard{
        width:60vw;
        font-size: 1.5vw;
    }
    .finder{
        width:calc(60vw - 30px);
    }
}
@media (max-width:768px){
    .popularCard{
        width:70vw;
        height: 50vw;
        font-size: 1.5vw;
    }
    .finder{
        width:calc(60vw - 30px);
    }
}
@media (max-width:550px) {
    .popularCard{
        width:80vw;
        height: 80vw;
        font-size: 1.5vw;
        background:none;
        box-shadow: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    .finder{
        padding: 10px;
        width:calc(80vw - 20px);
        height: calc(5vh - 20px);
    }

    .title{
        grid-area: 1/1/2/2;
        align-self: flex-start;
        z-index: 1;
    }
    .decorations{
        grid-area: 1/1/2/2;
        align-self: center;
        display: grid;
        place-items:center ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .image{
        filter:blur(5px);
        grid-area: 1/1/2/2;
        z-index:0;
        width: 85vw;
        max-width: none;
        max-height: none;
    }
    .cardDescription{
        height: 30%;
    }
    .cardDescriptionSpan{
        font-size: 2vw;
        grid-area: 1/1/2/2;
        z-index: 1;
        border-radius: 15px;
        background-color: white;
        padding: 15px;
        width:calc(85% - 30px);
        height: calc(50% - 30px);
        box-shadow: $cardShadow;
        margin-left: 0;
    }
}