<app-navigation-panel></app-navigation-panel>
<form class="createModule">
    <span class="createCard">
        <input maxlength="20" type="text" placeholder="Заголовок" class="titleInput input" />
        <span class="decorations">
            <span class="cardDescriptionSpan">
                <textarea placeholder="Описание статьи" class="descriptionInput input" type="text"></textarea>
                <textarea placeholder="Дополнение" class="subDescriptionInput input" type="text"></textarea>
            </span>
            <span class="chooseImgSpan">
                <img class="chooseIcon" src="assets/images/addIcon.svg" alt=":3" />
                <img [src]="" alt="" class="choosedImg" />
            </span>
        </span>
    </span>
    <span class="namesModule">
        <button (ngSubmit)="onSumbit()" class="submitBtn someCard">Опубликовать</button>
        <span class="nameAddSpan">
            <div *ngFor="let item of names; let i = index" class="nameAddModule">
                <input type="text" maxlength="10" class="inputNameList" [placeholder]="'название №'+(i+1)">
                <span class="chooseText">
                    <h2 class="chooseDescription">Основной текст <br> doc/docx</h2>
                    <input type="file" name="" id="">
                </span>
            </div>
        </span>
    </span>
</form>