<app-navigation-panel></app-navigation-panel>
<span class="createModule">
    <span class="createCard">
        <input maxlength="20" type="text" placeholder="Заголовок" class="titleInput input">
        <span class="decorations">
            <span class="cardDescriptionSpan">
                <textarea placeholder="Описание статьи" class="descriptionInput input" type="text"></textarea>
                <textarea placeholder="Дополнение" class="subDescriptionInput input" type="text"></textarea>
            </span>
            <span class="chooseImgSpan">
                <img class="chooseIcon" src="assets/images/addIcon.svg" alt=":3">
                <img [src]="" alt="" class="choosedImg">
            </span>
        </span>
    </span>
</span>