@import "styles.scss";

* {
    font-family: $fontFamily;
}

.loginSpan {
    width: 40vw;
    max-width: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: $cardShadow;
    gap: 40px;
    padding: 20px 0px;
    margin: 0 auto;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -45%);
    transition: transform 0.5s ease;
}

.loginTitle {
    font-weight: 450;
    cursor: default;
}

.horizontalSpan {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.verticalSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.inputFieldCode {
    border: gray 2px solid;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    color: gray;
    outline: none;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
}

.titleField {
    margin: 0;
    cursor: pointer;
}

.inputField {
    border: none;
    outline: none;
    height: 50%;
    width: 60%;
    cursor: pointer;
    color: gray;
}

.changeTemplateBtn {
    align-self: end;
    font-size: small;
    cursor: pointer;
}

.btnSubmit {
    background-color: black;
    border: none;
    color: white;
    border-radius: 500px;
    padding: 10px;
    width: 75%;
    height: 6vh;
    cursor: pointer;
}

.changeTemplateNavigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.loginFields{
    width: 100%;
}
.loginGoogle {
    width: 15%;
    border-radius: 100%;
    box-shadow: $cardShadow;
    cursor: pointer;
}

.decorationObject {
    position: absolute;
    height: 70vh;
    top: 50%;
    transform: translateY(-45%);
}

.opacityAnimationClass {
    animation: opacityAnimation 0.8s;
}

.ipad {
    left: 0;
    animation: moveFromLeft1920 1s ease-out forwards;
}

.iphone {
    right: 0;
    animation: moveFromRight1920 1s ease-out forwards;
}

.errorScreen{
    width:90%;
    text-align: center;
    color:red;
    font-size: 12.5px;
}
@keyframes moveFromLeft1920 {
    0% {
        left: -200px;
    }

    100% {
        transform: translateX(calc(50vw - 35vw)) translateY(-45%);
    }
}

@keyframes moveFromRight1920 {
    0% {
        right: -200px;
    }

    100% {
        transform: translateX(calc(-50vw + 35vw)) translateY(-45%);
    }
}







@keyframes opacityAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:1440px) {
    .ipad {
        animation: moveFromLeft1440 0.8s ease-out forwards;
    }

    .iphone {
        animation: moveFromRight1440 0.8s ease-out forwards;
    }
}

@media (max-width:1024px) {
    @keyframes moveFromLeft1024 {
        0% {
            left: -200px;
        }
    
        100% {
            transform: translateX(calc(50vw - 55vw)) translateY(-45%);
        }
    }
    
    @keyframes moveFromRight1024 {
        0% {
            right: -200px;
        }
    
        100% {
            transform: translateX(calc(-50vw + 55vw)) translateY(-45%);
        }
    }
    .loginSpan {
        width: 55vw;
    }

    .ipad {
        animation: moveFromLeft1024 0.8s ease-out forwards;
    }

    .iphone {
        animation: moveFromRight1024 0.8s ease-out forwards;
    }
}

@media (max-width:768px) {
    @keyframes moveFromLeft768 {
        0% {
            left: -200px;
        }
    
        100% {
            transform: translateX(calc(50vw - 55vw)) translateY(-45%);
        }
    }
    
    @keyframes moveFromRight768 {
        0% {
            right: -200px;
        }
    
        100% {
            transform: translateX(calc(-50vw + 55vw)) translateY(-45%);
        }
    }
    .ipad {
        animation: moveFromLeft768 0.6s ease-out forwards;
    }

    .iphone {
        animation: moveFromRight768 0.6s ease-out forwards;
    }
}

@media (max-width:550px) {
    @keyframes move550 {
        0% {
            
        }
    
        100% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -45%);
        }
    }
    .ipad {
        display: none;
    }
    .loginSpan{
        width:90vw;
    }
    .iphone {
        position: fixed;
        animation: move550 0.8s ease-out forwards;
        left: 50%;
        transform: translateX(-50%);
    }
}
