<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
>
<div class="Loader"></div>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<span class="cards" >
    <span class="finder">
        <input class="inputFinder" placeholder="Найти.." type="text">
        <button (click)="findPublications()">
            <img loading="lazy" class="iconFinder" src="/assets/images/iconFind.svg" alt="Искать">
        </button>
    </span>
    <span (click)="openPublication(cardInformation._id)" *ngFor="let cardInformation of PopularCardsArray" class="popularCard">
        <h2 class="title">{{cardInformation.title}}</h2>
        <span class="decorations">
            <span class="cardDescriptionSpan">
                <h3 class="cardDescription">{{cardInformation.description}}</h3>
                <h3 class="cardsubDescription">{{cardInformation.subDescription}}</h3>
            </span>
            <img loading="lazy" class="image" [src]="cardInformation.decorationImageUrl" alt="">
        </span>
    </span>
</span>
